body{
    background-color:skyblue;
}


#container {
 width: 100%;
 display: grid;

 background-color: burlywood;
 grid-template-rows: 1fr 1fr;
 grid-template-columns: 70% 30%;

}


.box{
    background-color: red;
    margin: 10px;
    height: 7vh;
}

#box1{
    grid-column: 1/3;
}

#box2{

   
}

#box3{
    grid-column: 2/3;
  
}

#box4{
    grid-column: 3/1;
}